html,
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 0.2rem;
  margin: 0;
  font-family: 'Comic Sans MS', sans-serif;
  box-sizing: border-box;
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 0.644782913165266) 44%, rgba(0, 212, 255, 1) 100%);
}

ul {
  list-style: none;
  padding: 0;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
}

header {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  margin: 1em;
}

section {
  width: 45%;
  min-width: 14rem;
  margin: 0;
}

li {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 1rem;
}

input {
  padding: 0.3rem;
  width: 100%;
  border: 0.125rem #fff solid;
  border-radius: 0.25rem;
}

button {
  background: #616161;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0.4rem;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}

.main-title {
  font-size: 3.5em;
}

h1::after {
  content: '';
  height: 4px;
  width: 200%;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 20px;
  z-index: 0;
  background: #00d4ff;
  border-radius: 8px;
}

#icon {
  font-size: 24px;
  color: white;
}

.sub-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #00d4ff;
}

td {
  word-break: break-all;
}

.list-players {
  border: 0.125rem solid #fff;
  border-radius: 0.25rem;
  max-width: 32rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.player-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.form-input {
  margin: 0 auto;
  max-width: 26rem;
  box-sizing: border-box;
}

footer {
  display: flex;
  align-self: flex-end;
  border: 2px #fff solid;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  max-width: 90%;
  margin: 0 auto;
  width: 90%;
}

.hidden {
  display: none;
}
